body {
	 background: #000 !important;
}

.navbar-static-top, .navbar-fixed-top, .navbar-fixed-bottom {
	background: rgba(239, 239, 239, 0.1) !important;
}

a {
	color: #999999 !important;
}

a:hover, a:focus {
	color: #666666 !important;
}